global:
  image:
    tag: "3a18d88"

ingress:
  enabled: true
  className: traefik
  annotations: {}
  hosts:
    - host: traefik.seungdobae.com
      paths:
        - path: /
          pathType: Prefix

replicaCount: 2 # 컨테이너의 개수
podDisruptionBudget: {}

env:
- name: CONTROLLER_NAME
  value: "traefik"

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 256m
    memory: 256Mi

# 오토스케일링 설정
autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80