global:
  image:
    tag: "0e4b341"

# 콘텐트리 중앙에서 이미 사용하던 옵션 전부 등록
ingress:
  enabled: true
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/affinity: cookie
    nginx.ingress.kubernetes.io/session-cookie-name: route
    nginx.ingress.kubernetes.io/session-cookie-samesite: "Lax"
    nginx.ingress.kubernetes.io/session-cookie-secure: "true"
    nginx.ingress.kubernetes.io/session-cookie-httponly: "true"
    nginx.ingress.kubernetes.io/session-cookie-hash: sha1
    nginx.ingress.kubernetes.io/cors-allow-headers: X-Forwarded-For
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/enable-cors: "true"
    nginx.ingress.kubernetes.io/cors-allow-methods: "GET, POST, HEAD, OPTIONS"
    #(if need)nginx.ingress.kubernetes.io/proxy-body-size: "500m"
    #(if need)nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/configuration-snippet: |
      add_header X-Content-Type-Options nosniff;
      add_header Pragma "no-cache";
      add_header Cache-Control "max-age=0, no-store, no-cache, must-revalidate";
      proxy_cookie_flags JSESSIONID SameSite=Lax Secure HttpOnly;
      more_set_headers "X-Xss-Protection: 1;mode=block";
      more_set_headers "X-Frame-Options: DENY";
    nginx.ingress.kubernetes.io/proxy-read-timeout: "60"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "60"
  hosts:
    - host: nginx.seungdobae.com
      paths:
        - path: /
          pathType: Prefix

replicaCount: 2 # 컨테이너의 개수
podDisruptionBudget: {}

env:
- name: CONTROLLER_NAME
  value: "ingress-nginx"

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 256m
    memory: 256Mi

# 오토스케일링 설정
autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80