global:
  image:
    tag: "329a6b0"

ingress:
  enabled: false
  className: traefik
  annotations: {}
  hosts:
    - host: traefik.seungdobae.com
      paths:
        - path: /
          pathType: Prefix

# Traefik IngressRoute 설정
ingressRoute:
  enabled: true
  entryPoints:
    - web
  annotations: {}
  routes:
    - match: Host(`traefik.seungdobae.com`)
      kind: Rule
      middlewares:
        # - name: https-redirect@file
        - name: security-headers@file
        - name: cors@file
      # Ref: https://doc.traefik.io/traefik/reference/routing-configuration/kubernetes/crd/http/ingressroute/#configuration-example
      sticky:
        cookie:
          name: route
          httpOnly: true
          secure: true
          sameSite: lax

replicaCount: 2 # 컨테이너의 개수
podDisruptionBudget: {}

env:
- name: CONTROLLER_NAME
  value: "traefik"

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 256m
    memory: 256Mi

# 오토스케일링 설정
autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80