global:
  image:
    tag: "329a6b0"

ingress:
  enabled: false

ingressRoute:
  enabled: false

# Envoy Gateway HTTPRoute 설정 (Gateway API)
gateway:
  enabled: true
  #name: eg
  name: envoygateway-9443
  namespace: envoy-gateway-system
  
  # 리스너 설정 (Gateway에 정의된 리스너 이름)
  listeners:
    #http: http    # 80 포트 리스너 이름
    https: https  # 443 포트 리스너 이름

  hosts:
    - host: envoy.joins.net
      paths:
        - path: /

  features:
    # HTTP → HTTPS 강제 리다이렉트 (http 리스너에서만 동작)
    redirect:
      enabled: true
      statusCode: 301

    cors:
      enabled: true
      allowOrigins: ["*"]
      allowMethods: ["GET","POST","OPTIONS"]
      allowHeaders: ["X-Forwarded-For"]
      allowCredentials: true

    securityHeaders:
      enabled: true
      frameDeny: true
      contentTypeNosniff: true
      xssProtection: true
      cacheControl: "no-store"

    backend:
      timeout: 60s
      maxRequestBodySize: 100Mi  # 요청 본문 크기 제한 (초과 시 413 에러)
      sticky:
        enabled: true
        cookieName: route
        ttl: 24h  # 쿠키 자동 생성에 필수
        attributes:
          SameSite: Lax
          Secure: "true"
          HttpOnly: "true"

replicaCount: 2

env:
- name: CONTROLLER_NAME
  value: "envoy-gateway"

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 256m
    memory: 256Mi

# 오토스케일링 설정
autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

podDisruptionBudget: {}

