{{- if and .Values.gateway (and .Values.gateway.enabled .Values.gateway.features.cors.enabled) -}}
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: SecurityPolicy
metadata:
  name: {{ .Release.Name }}-security
  namespace: {{ .Release.Namespace }}
spec:
  targetRef:
    group: gateway.networking.k8s.io
    kind: HTTPRoute
    name: {{ .Release.Name }}
  cors:
    allowOrigins:
      {{- range .Values.gateway.features.cors.allowOrigins }}
      - {{ . | quote }}
      {{- end }}
    allowMethods:
      {{- toYaml .Values.gateway.features.cors.allowMethods | nindent 6 }}
    allowHeaders:
      {{- toYaml .Values.gateway.features.cors.allowHeaders | nindent 6 }}
    allowCredentials: {{ .Values.gateway.features.cors.allowCredentials }}
{{- end }}